page-day-end-collection {
    table {
        width: 100%;
        .column1 {
            width: 20%;
            padding-left: 10px;
            text-align: left
        }
        .column2 {
            width: 45%;
            text-align: left;
            padding: 0 15px;
        }
        .column3 {
            width: 35%;
            text-align: right;
            padding-right: 10px;
        }
        .head {
                th {
                    font-family: Lato-Bold;
                    font-size: 1.5rem;
                    color: #fff;
                    line-height: 1.4;
                    background-color:color($colors, green) ;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
        }

        tfoot{
            .head { margin: 5px 0;
              th{ text-align: right;
                &:first-child{ padding: 0 15px;}
                &:last-child{ padding-right:10px;}
                }  
            } 
        }
        
        tr {
            &:nth-child(even) {
                background-color: #f8f6ff;
            }
            td {
                font-family: Lato-Regular;
                font-size: 15px;
                color: #808080;
                line-height: 1.4;
                padding-top: 5px;
                padding-bottom: 5px;
                ion-avatar {
                    min-width: 60px;
                    min-height: 60px;
                    border-radius: 100%;
                    overflow: hidden;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
