page-home {
    .item-md {
        padding-left: 0;
        border:1px solid #666; border-radius:5px; padding: 5px;
        box-shadow:0 0 15px rgb(207, 207, 207); 
        margin: 5px 0; 
        .item-inner { border-bottom:none !important; padding-right: 0 !important;
            ion-label{ margin:8px 8px 8px 0; }
        }    
        ion-avatar {
            min-width: 60px;
            min-height: 60px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .list-con {
            float:left;
            h3{ margin-top:5px}
        }
        .buttons{ width:75px; float:right;
            button { float: left; width:100%; margin: 0 0 5px; }
        }
    }
    .item-ios {
        padding-left: 0;
        border:1px solid #666; border-radius:5px; padding: 5px;  
        box-shadow:0 0 15px rgb(207, 207, 207); 
        margin: 5px 0;
        .item-inner { border-bottom:none !important; padding-right:0 !important;
            ion-label{ margin:8px 8px 8px 0; }
        }
        ion-avatar {
            min-width: 60px;
            min-height: 60px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .list-con {
            float:left;
            h3{ margin-top:5px}
        }
        .buttons{ width:75px; float: right;
            button { float: left; width:100%; margin: 0 0 5px; }
        }
    }
}